*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 70px;
    background-color: #334A62;
}

.ms_topbar{
    background-color: #334A62;
}

main{
    padding-top: 70px;
}

#start_bootstrap,#about{
    background-color: var(--ms_backgroundgreen);
}

:root{
    --ms_backgroundgreen: #19B391;
}

footer{
    background-color: #334A62;
}

.container .footer_bot{
    background-color: #273646;
}

hr{
    padding: 5px;
}

.ms_green{
    background-color: var(--ms_backgroundgreen);
}

.ms_border_radius_circle{
    border-radius: 50%;
}

.ms_square:hover img{
    opacity: 0.5;
}

.ms_square:hover i.plus{
    display: block;
}

.plus {
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 9999;
}

.ms_relative{
    position: relative;
}