*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */

.debug header{
    background-color: gray;
    height: 200px;
}



.debug .image{
    background-color: black;
    height: 100px;
}

.debug .option{
    background-color: yellow;
    height: 50px;
}

.debug .logo{
    background-color: blue;   
    height: 50px;
}

.debug nav{
    background-color: red;   
    height: 50px;
}

.debug .container-lg{
    background-color: lightseagreen;
       
}



.debug #portfolio{
    background-color: palevioletred;
    
}

.debug .col-12{
    background-color: lightsalmon;
    height: 150px;
    border: 1px solid black;
}

.debug .col-11{
    background-color: rgb(81, 47, 33);
    height: 300px;
    border: 1px solid black;
}


.debug .ms_title{
    background-color: aquamarine;
    height: 50px;
}

.debug .ms_text_about{
    background-color: brown;
    height: 200px;
    border: 1px solid black;
}

.debug .button{
    background-color: blueviolet;
    height: 50px;
}


.debug .col-8{
    background-color: darkorange;
    height: 50px;
}

.debug .col-8 .ms_message{
    background-color: darkorange;
    height: 250px;
}